[Unit]
Description=Home Hunter fast scan every three hours

[Timer]
OnCalendar=*-*-* 00/3:15:00
Persistent=true
RandomizedDelaySec=0

[Install]
WantedBy=timers.target
